.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

#homepage {
    border: 20px #29374A;
    align-content: center;
}

#my-button {
    background-color: #0d6efd;
}

#test a{
    color: #0b2e13;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    position: relative;
    width: 50vmin;
    height: 42vmin;
    border: solid #29374a 2px;
    box-sizing: border-box;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.default button{
    all: revert;
}

.square-2 {
    position: relative;
    width: 50vmin;
    height: 24vmin;
    border: solid #29374a 2px;
    box-sizing: border-box;
}